@charset "utf-8";

*
{
	padding:0px;
	margin:0px;
	border:0px;
}

#header
{
	height:44px;
	background:#595959;
	width:100%;
}

.header-element
{
	position:absolute;
	margin-top:9px;
}

/**//**//**//**//**//**/

#search
{
	width:325px;
	right:50%;
	margin-right:20px;
}

#search input
{
	height:25px;
	width:300px;
	position:absolute;
}

#search div
{
	background-color:white;
	margin-left:-1px;
	width:25px;
	height:25px;
	position:absolute;
	margin-left:299px;
	background:url(images/search.gif) no-repeat center center #FFF;
	border-left-width:0px !important;
}

/**//**//**//**//**//**/

#shop
{
	left:50%;
	margin-left:80px;
}

#shop div
{
	background-color:#9E363E;
	color:white;
}

/**//**//**//**//**//**/

#publish
{
	left:50%;
	margin-left:175px;
}

#publish div
{
	background-color:white;
	color:black;
	position:absolute;
}

#publish div img
{
	margin:7px 0px 0px 6px;
}

#menu-select
{
	height:25px;
	width:25px;
	margin-left:-1px;
	position:absolute;
	margin-left:69px;
}

/**//**//**//**//**//**/

#login
{
	left:50%;
	margin-left:295px;
	line-height:22px;
}

#login img
{
	margin:6px 8px 0px 42px;
	position:absolute;
}

#login div
{
	width:25px;
	height:25px;
	background-color:#9E363E;
	position:absolute;
	margin-left:65px;
}

#login p
{
	color:white;
	position:absolute;
}

/**//**//**//**//**//**/

#menu
{
	width:185px;
	height:600px; /*16px off the window bottom*/
	border-right:1px solid #9E363E;
	position:absolute;
	right:50%;
	margin-right:345px;
}

.menu-txt
{
	margin:100px 0px 0px 20px;
	line-height:18pt;
}

#menu div
{
	height:160px;
	width:165px;
	margin:8px 0px 0px 20px;
	overflow-y:scroll;
	overflow-x:hidden;
}

/**//**//**//**//**//**/

#main
{
	width:768px;
	position:absolute;
	left:50%;
	margin:-8px 0px 0px -325px;
}

.entry
{
	float:left;
	margin:0px 8px 8px 0px;
}

.entry img
{
	width:240px;
	height:135px;
	border:4px solid #595959;
	border-radius:2px;
}
.entry p
{
	width:240px;
	text-wrap:normal;
}